.content {
	text-align: center;
	margin: 50px;
}

.content p {
	font-size: larger;
}

.input_box {
	border-radius: 5px;
	text-align: center;
	color: white;
	height: 35px;
	margin: 30px 30px 0px 30px;
	background-color: #121212;
	outline: none;
	border: 2px solid #B00020;
}

#input_box_text {
	color: #B00020;
}


.yt_content {
	margin: 30px;
}

body {
	background-color: #121212;
}